.user-component {
  display: flex;
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}

.user-component__avatar {
  width: 65px;
  height: 65px;
  border-radius: 15px;
  margin-right: 20px;
}

.user-component__title {
  font-weight: 600;
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 8px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}
