@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");
@import "reset.css";
@import "variables.css";
/* component */
@import "components/status-bar.css";
/* Screens */
@import "screen/login.css";

body {
  font-family: "Open Sans", sans-serif;
}
